p Hallo #{name},
p über folgenden Link können Sie sich bei Freie-Plaetze.de anmelden:
p <a href="#{loginLink}">Anmelden</a>
p Der Link ist 15 Minuten lang gültig und kann nur einmal genutzt werden. Sie können diese E-Mail anschließend löschen.
p
| Freundliche Grüße<br/>
| Ihr Team von Freie-Plaetze.de
p
  hr
  small
  | Wenn Sie diese E-Mail nicht selber angefordert haben, löschen Sie sie bitte.