p Hallo #{name},
p
| Sie haben sich soeben mit der E-Mail-Adresse #{email} bei Freie-Plaetze.de registriert.
| Darüber freuen wir uns sehr und heißen Sie herzlich willkommen.
| Ihre Benutzerdaten können Sie jederzeit in unserem <a href="#{editAccountLink}">Mitgliederbereich</a> verwalten.
p
|  Freundliche Grüße<br/>
|  Ihr Team von Freie-Plaetze.de
p
p
  hr
  small
  | Sollten Sie sich nicht selber bei Freie-Plaetze.de registriert haben,
  | wenden Sie sich bitte per E-Mail an info@freie-plaetze.de.